#descriptionAbout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    margin: 0px auto 0 auto;
    right: 0;
    left: 0;
    content: "";
    top: 7%;
    overflow: hidden;
    height: 530px;
    padding-bottom: 80px;
}
#textDesc {
    max-width: 800px;
    display: flex;
    font-size: 25.5px;
    margin: 70px auto 0px auto;
    color: rgb(53, 53, 54);
    z-index: 1;
    padding: 15px 100px 36px 100px;
    background-color: #dddbd94d;
    box-shadow: 0px 0px 700px #ffffff inset;
}
#banner2 {
    transform: rotateY(180deg);
    transform: scaleY(-1);
    position: relative;
    top: -8px;
    padding-bottom: 0px;
}
#banner3 {
    position: relative;
    top: -10px;
}
/* .cropPicsAbout {
    width: 670px;
    height: 390px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: -50px;
    opacity: .6;
    border-radius: 200px;
} */
/* .cropPicsAbout:hover {
    filter: sepia(220%) hue-rotate(180deg) brightness(91%) saturate(320%);
} */
.backgroundThing {
    clip-path: inset(45px 0px 0px 0px);
    height: 480px;
    padding: 0;
    z-index: 2;
    margin: -60px auto -20px auto;
    box-shadow: 0px 0px 1000px #ffffff inset;
    opacity: .9;
    background: linear-gradient(180deg,rgb(255, 255, 255, .1), rgb(255, 255, 255, 1)), url('https://user-images.githubusercontent.com/86431563/150698136-eae20d3c-dd88-4af4-b4e9-db31915c7b4e.jpg') no-repeat center;
}
