.descriptionAbout {
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    margin: 30px auto 0 auto;
    right: 0;
    left: 0;
    /* z-index: -1; */
    content: "";
    /* position: absolute; */
    top: 7%;
    /* width: 1550px; */
    /* max-height: 900px; */
    overflow: hidden;
    height: 530px;
    padding-bottom: 80px;
}
#textDesc {
    max-width: 800px;
    display: flex;
    /* position: absolute; */
    font-size: 25.5px;
    margin: 70px auto 0px auto;
    color: rgb(53, 53, 54);
    z-index: 1;
    padding: 15px 100px 36px 100px;
    background-color: #dddbd94d;
    box-shadow: 0px 0px 700px #ffffff inset;
}
#banner2 {
    transform: rotateY(180deg);
    transform: scaleY(-1);
    position: relative;
    top: -8px;
    padding-bottom: 0px;
    /* margin: -10px 0px 0px -180px; */
}
#banner3 {
    position: relative;
    top: -10px;
}
/* .cropPicsAbout {
    width: 670px;
    height: 390px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: -50px;
    opacity: .6;
    border-radius: 200px;
} */
/* .cropPicsAbout:hover {
    filter: sepia(220%) hue-rotate(180deg) brightness(91%) saturate(320%);
} */
.backgroundThing {
    /* vertical-align: top; */
    /* background-size: 450px 900px; */
    clip-path: inset(45px 0px 0px 0px);
    height: 480px;
    /* width: 1000px; */
    padding: 0;
    z-index: 2;
    margin: -60px auto -20px auto;
    box-shadow: 0px 0px 1000px #ffffff inset;
    opacity: .9;
    background: linear-gradient(180deg,rgb(255, 255, 255, .1), rgb(255, 255, 255, 1)), url('https://user-images.githubusercontent.com/86431563/150698136-eae20d3c-dd88-4af4-b4e9-db31915c7b4e.jpg') no-repeat center;
}
/* .innerDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */
