.updateReviewBtn {
    cursor: pointer;
    border: none;
    background-color: #404040;
    color: #fff;
    /* padding: 6px 12.5px; */
    border-radius: 13px;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: 12px;
}
.updateReview:hover {
    background-color: #585858;
    letter-spacing: 1px;
}
.formUpdateReview {
    border: none;
    position: relative;
    background-color: #939393;
    letter-spacing: .5px;
    font-size: 12px;
    text-align: center;
    padding: 10px 10px 5px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 200px;
}
.updateBtnn {
    cursor: pointer;
    border: none;
    background-color: #404040;
    color: #fff;
    padding: 3px 7px;
    border-radius: 3px;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: 12px;
}
