input[name="search"]:focus {
    display:block;
    margin: 0 auto 0 -70px;
    width: 780%;
    background-color: white;
    border: 1px solid orange;
    color: #757575;
    padding: 12px 20px 12px 40px;
    outline: 3.5px solid #e065434d;
    box-sizing: border-box;
    z-index: 0;
}
input[name="search"]:focus + .searchBarExpands + input[name="search"]:active + input[name="search"].active {
    display:block;
    margin: 0 auto 0 -70px;
    display: block;
    background-color: white;
    border: 1px solid orange;
    color: #757575;
    outline: 3.5px solid #e065434d;
    box-sizing: border-box;
    z-index: 0;
}
.searchBarExpands.more {
    display:block;
    margin: 0 auto 0 -70px;
    width: 780%;
    background-color: white;
    border: 1px solid orange;
    color: #757575;
    padding: 12px 20px 12px 40px;
    outline: 3.5px solid #e065434d;
    box-sizing: border-box;
    z-index: 0;
}
.searchBarExpands {
    margin: 0 auto 0 -70px;
    background-color: #F5F8FF;
    cursor: pointer;
    border-radius: 2.5px;
    height: 38px;
    color: #757575;
    align-items: center;
    justify-content: center;
    width: 225px;
    outline: 0;
    padding: 12px 20px 12px 40px;
    border: none;
    display:block;
    box-sizing: border-box;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    z-index: 500;
    position: relative;
}
.searchIcon {
    vertical-align: middle;
    position: absolute;
    top: 2%;
    z-index: 501;
    padding: 8px 6px 8px 8px;
    left: -26px;
  }
.noResults {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #8e8e8e;
    cursor: pointer;
    padding: 20px;
}
.searchList {
    position: absolute;
    background-color: white;
    width: 1163px;
    height: 596px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin-top: 3px;
    margin-left: -69px;
    border-radius: 4px;
    padding: 22px 20px;
    box-shadow: 0px 0px 5px 2px #e2e2e2;
    overflow-x: hidden;
    z-index: 20;
}
.searchList.hide {
    display: none;
}
.r {
    width: 50%;
    height: 50%;
}
