.searchBtn {
    border: none;
    background-color: #49297a;
    color: #fff;
    /* margin-top: 19px; */
    padding: 6px 12.5px;
    border-radius: 13px;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: 12px;
    cursor: pointer;
    margin: 3px 5px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.searchBtn:hover {
    background-color: #703387;
    letter-spacing: 1px;
}
/* .searchArea {
    align-items: center;
    justify-content: center;
    display: block;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */
.search {
    align-items: center;
    justify-content: center;
    display: block;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
