.deleteReviewBtn {
    cursor: pointer;
    border: none;
    background-color: #404040;
    color: #fff;
    border-radius: 13px;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: 12px;
}
.deleteReview:hover {
    background-color: #585858;
    letter-spacing: 1px;
}
