.footer {
    bottom: 0;
    text-align: center;
    width: 100%;
    padding-top: 3px;
    font-size: 15px;
    position: fixed;
    cursor: pointer;
    display: block;
    height: 25px;
    background-color: rgb(218, 218, 218);
}
#author {
    margin: 10px;
}
.links {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: -7px; */
    /* padding-top: -10px; */
}
.AboutMe {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#linkedin {
    padding-right: 4px;
}
