#author {
    margin: .1px;
    top: -500px;
    color: #a6a6a6;
}
.links {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: .12;
}
.AboutMe {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#linkedin {
    padding-right: 4px;
}
