body {
    background-color: rgba(191, 191, 191, 0.1);
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 0;
    margin: 0 /*0 40px*/;
  }
  a {
    cursor: pointer;
    /* width: 250px; */
  }
  a:hover, a:visited, a:link, a:active {
    text-decoration: none;
  }
  .header {
    padding: 15px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
    background-color: cadetblue;
  }
  #title1 {
    text-align: center;
    align-items: center;
    align-self: center;
    top: -10px;
    left: 690px;
    position: absolute;
  }
  #logBtns {
    display: flex;
    margin-right: 40px;
    padding-left: 120px;
    /* margin-left: auto; */

  }
  #linking {
    margin-right: 50px;
    display:flex;
    justify-content: space-between;
    width: 110px;
  }
  /* #productLink {
    margin-right: 100px;
  } */
  #style {
    position: absolute;
    top: 30px;
    right: 16px;
    z-index: 1000; /*why is this needed to get button clickable*/
    background-color: rgb(228, 228, 228);
    list-style-type: none;
    /* width: 30px;
    height: 50px; */
    padding: 10px;
    margin: 10px;
    border: 1px rgba(0, 0, 0, 0.36) solid;
    /* flex-direction: column; */
  }
  /* #title {
    position: relative;
    align-self: center;
    text-align: center;
    justify-content: space-between;
    align-items: center;
  } */
