.productProfile {
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  text-align: center;
  padding-bottom: 50px;
}
.profileImg {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border-radius: 4px;
}
.profileImg:hover {
  transition: all 0.01s ease;
  opacity: .97;
  filter: sepia(310%) hue-rotate(320deg) brightness(88%) saturate(260%);
}
.reviewsTable {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 200px;
  width: 550px;
  align-items: left;
  padding-top: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  font-size: 12px;
  display: block;
  text-align: left;
  font-size: 10px;
}
.productDiscussionWrapper {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}
.discussionTitle {
  color: #515460;
  font-size: 15px;
  display: block;
  margin: 0;
  padding-bottom: -500;
  float: left;
  position: absolute;
}
.reviewSection {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 20px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  background-color: #ececec;
}
.reviewUpdateDeleteBtns {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  float: right;
  padding: 0;
}
.CreateUpdateDeleteBtns {
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  max-width: 550px;
}
#prodProfileTitle {
  color: #515460;
  font-size: 20px;
  margin: 0 0 5px 0;
  padding: 0;
  display: block;
  font-weight: 480;
}
#prodProfileTitle2 {
  color: #363d4e;
  font-size: 26px;
  margin: 0 0 5px 0;
  padding: 0;
  display: block;
  font-weight: 400;

}
#productDescription {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
p#productDescription2 {
  color: #4b587c;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 390;
}
.leftSide {
  width: 700px;
}
.main-image, .discussion {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 40px;
}
.main-image {
  padding: 20px;
  border: 1px solid #D9E1EC;
}
/* img.carousel-main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;

} */
p.description {
  border-top: 1px solid lightgrey;
  padding-top: 20px;
  font-size: 14px;
  line-height: 1.5em;
}
span {
  font-size: 11px;
  padding-bottom: 10px;
  color: grey;
  display: block;
}
