.createReviewBtn {
    cursor: pointer;
    border: none;
    background-color: #404040;
    color: #fff;
    border-radius: 5px;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: 12px;
    margin-left: 230px;
    /* float: right; */
}
.createReview:hover {
    background-color: #585858;
    letter-spacing: 1px;
}
.formCreateReview {
    border: none;
    position: relative;
    background-color: #939393;
    letter-spacing: .5px;
    font-size: 12px;
    text-align: center;
    padding: 10px 10px 5px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 200px;
}
