.createReview {
    border: none;
    background-color: #49297a;
    color: #fff;
    /* margin-top: 19px; */
    padding: 6px 12.5px;
    border-radius: 13px;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: 12px;
    cursor: pointer;
    margin: 3px 5px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.createReview:hover {
    background-color: #703387;
    letter-spacing: 1px;
}
.formCreateReview {
    border: none;
    position: relative;
    background-color: #49297a;
    letter-spacing: .5px;
    font-size: 12px;
    text-align: center;
    padding: 5px 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: auto;
}
#reviewBtn {
    cursor: pointer;
    border: none;
    background-color: #1c102f;
    color: #fff;
    /* margin-top: 19px; */
    padding: 6px 12.5px;
    border-radius: 13px;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: 12px;
    margin: 3px 5px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
