.loginForm {
    position: relative;
    background-color: white;
    /* letter-spacing: .5px; */
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* justify-content: flex-start; */
    flex-wrap: wrap;
    width: 540px;
    height: 424px;
    border: 20px solid #F3F3F3;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}
.loginBtn {
    cursor: pointer;
    border: none;
    background-color: #404040;
    color: #fff;
    padding: 3px 7px;
    border-radius: 3px;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: 12px;
    margin-right: 3px;
}
.demoBtn {
    cursor: pointer;
    border: none;
    background-color: #404040;
    color: #fff;
    padding: 3px 7px;
    border-radius: 3px;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: 12px;
}
